{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IDS Renewal Service</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        
        <style>
            .nav-link.active {
                background-color: #F5F5F5 !important;
                color: #0BB351 !important;
                font-weight: bold;
            }
        
            .nav-link {
                color: #000000 !important; 
            }
        
            body {
                background-color: #EEE; 
                font-family: 'Nunito Sans', sans-serif;
            }
        </style>
        
    </head>
    <body>
        <div class="d-flex flex-column flex-shrink-0 p-3 text-black bg-white vh-100 position-fixed" style="width: 280px;">
            <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-black text-decoration-none pb-4">
                <img src="{% static 'idslogo.png' %}" width="32" height="32" class="me-2" alt="IDS Logo">
                <span class="fs-4">IDS Tracker</span>
            </a>
            <a href="{% url 'create_application' %}" class="text-decoration-none btn pt-2 pb-2 mb-4" style="background-color: #0BB351; color: #ffffff";>Create new application +</a>
            <ul class="nav nav-pills flex-column mb-auto">
                <li>
                    <a href="{% url 'view_dashboard' %}" class="nav-link {% if request.resolver_match.url_name == 'view_dashboard' %}active{% endif %}">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                    Dashboard
                    </a>
                </li>
                <li>
                    <a href="{% url 'view_progress' %}" class="nav-link {% if request.resolver_match.url_name == 'view_progress' %}active{% endif %}">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                    Progress Tracker
                    </a>
                </li>
                <li>
                    <a href="{% url 'view_checklist' %}" class="nav-link {% if request.resolver_match.url_name == 'view_checklist' %}active{% endif %}">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                    Checklist
                    </a>
                </li>
            </ul>
        </div>
        <div class="main-content" style="margin-left: 280px;"> <!-- Adjust the margin as needed -->
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>