{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="shortcut icon" type="image/png" href="{% static 'idslogo.png' %}" >
<div style="padding-top: 20px; margin-left: 40px; margin-right: 40px;">
    <div class="card" style="border: none; border-radius: 30px;">
        <div class="card-body">
            <h2 class="card-title mt-3" style="margin-left: 30px; margin-right: 30px; color: #0BB351; font-weight: bold; border-bottom: 3px solid #0BB351;">Create Application</h2>
        </div>
    </div>
    <div class="card mt-3" style="border: none; min-height: calc(100vh - 150px); background: #e8f4ec; border-radius: 30px;">
        
    </div>
</div>
{% endblock %}