{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .toast-container {
        position: fixed;
        bottom: 20px; /* Adjust as needed */
        right: 20px; /* Adjust as needed */
        z-index: 1050; /* Make sure the toast appears above other content */
    }

    .toast {
        margin-bottom: 15px; /* Add space between toasts */
    }
</style>

<link rel="shortcut icon" type="image/png" href="{% static 'idslogo.png' %}" >
<div style="padding-top: 20px; margin-left: 40px;">
    <div class="card" style="border: none; border-bottom-left-radius: 30px; border-top-left-radius: 30px;">
        <div class="card-body">
            <h2 class="card-title mt-3" style="margin-left: 30px; margin-right: 30px; color: #0BB351; font-weight: bold; border-bottom: 3px solid #0BB351;">Dashboard</h2>
        </div>
    </div>
    <div id="dynamicCard" class="card mt-3" style="border: none; background: #e8f4ec; border-radius: 30px;">

        <!-- Bootstrap Toast Message -->
        <div class="toast-container">
            {% if messages %}
                {% for message in messages %}
                    <div class="toast align-items-center text-white 
                        {% if message.tags == 'success' %}bg-success{% elif message.tags == 'error' %}bg-danger{% endif %}
                        border-0 my-2" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="d-flex">
                            <div class="toast-body">
                                {{ message }}
                            </div>
                            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        
        <!--this is for the sort button-->
        <style> 
            .sort-dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0 8px 16px rgba(0,0,0,0.2);
                z-index: 1;
                right: 0;
                overflow: hidden;
                border: 1px solid #ccc;
            }
            
            
            .sort-dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                background-color: #f9f9f9; 
                border-radius: 0; 
                border-bottom: 1px solid #ddd; /* Separates items with a line */
                text-align: left; 
            }
            

            .sort-dropdown-content p {
                margin: 0;
                text-align: left; 
                font-size: 16px; 
                font-weight: bold; 
            }
            
            .sort-dropdown-content a:last-child {
                border-bottom: none;
            }
            
            .sort-dropdown-content a:hover {
                background-color: #e6e6e6; 
            }
        </style>

        <!--this is for the filter buttons-->
        <style>
            .filter-btn {
                border-radius: 15px;
                background: #ffffff; /* Default background to white */
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
                padding: 5px 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 5px;
                text-decoration: none; /* Remove underline from links if these are <a> tags */
                color: black; /* Default text color */
                transition: background-color 0.3s; /* Smooth transition for background color change */
            }
        
            .filter-btn p {
                margin: 0;
                border-radius: 10px;
                font-size: 12px;
                padding: 2px 5px;
            }
        
            /* Specific styles for each filter based on their status */
            .filter-all .filter-count { background: #2D2A89; color: white; }
            .filter-in-progress .filter-count { background: #FDDD1B; color: white; }
            .filter-lodged .filter-count { background: #FF8640; color: white; }
        
            /* Styles for selected filter with different colors */
            .filter-all.selected { background: #8D8AFF; color: white; }
            .filter-in-progress.selected { background: #FEEE8D; color: black; }
            .filter-lodged.selected { background: #ffa570; color: white; }
        </style>

        <!--this is for the search bar-->
        <style> 
            .toast-container {
                position: fixed;
                bottom: 20px;
                right: 20px;
                z-index: 1050;
            }
        
            .toast {
                margin-bottom: 15px;
            }
        
            .search-container {
                position: absolute;
                right: 0;
                top: 50px;
                width: 300px;
                box-shadow: 0 4px 6px rgba(0,0,0,0.1);
                background: white;
                border-radius: 4px;
                display: none;
                padding: 8px;
            }
        
            .search-container input {
                width: 100%;
                border: none;
                padding: 8px;
                box-sizing: border-box;
            }

            
        </style>
        <!-- Filter Buttons -->
        <div class="row mt-4" style="margin-left: 20px; margin-right: 20px;">
            <!-- Left buttons -->
            <div class="col-6 d-flex justify-content-start">
                <a href="{% url 'filter' value=0 %}" class="filter-btn filter-all {% if selected_filter == '0' %}selected{% endif %}">
                    <span style="margin-right: 5px;">All</span>
                    <p class="filter-count">{{ total_applications }}</p>
                </a>
                <a href="{% url 'filter' value=1 %}" class="filter-btn filter-in-progress {% if selected_filter == '1' %}selected{% endif %}">
                    <span style="margin-right: 5px;">In Progress</span>
                    <p class="filter-count">{{ in_progress_count }}</p>
                </a>
                <a href="{% url 'filter' value=2 %}" class="filter-btn filter-lodged {% if selected_filter == '2' %}selected{% endif %}">
                    <span style="margin-right: 5px;">Lodged</span>
                    <p class="filter-count">{{ lodged_count }}</p>
                </a>
            </div>
            <!-- Right buttons -->
            <div class="col-6 d-flex justify-content-end"> 
                <div id="dynamicCard" class="card" style="border: none; background: #e8f4ec; ">
                    <form id="searchForm" form method="POST" action="{% url 'search' %}"> {% csrf_token %}
                    <div class="search-container">
                        <input type="text" placeholder="Search..." id="searchInput" name="searchInput">
                    </div>
                    <a class="btn search-btn d-flex align-items-center justify-content-center me-2" style="border-radius: 15px; background: #ffffff; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);">
                        <img src="{% static 'search.png' %}" width="20" height="20" alt="Search">
                    </a>
                    </form>
                </div>
                <a class="btn d-flex align-items-center justify-content-center me-2 dropdown" style="border-radius: 15px; background: #ffffff; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);" onclick="toggleDropdown()">
                    <img src="{% static 'sort.png' %}" width="20" height="20" alt="Sort">
                    <div class="sort-dropdown-content" >
                        <p>Sort by:</p>
                        <a href="?sort=uploaded_desc">Date uploaded (latest to earliest)</a>
                        <a href="?sort=uploaded_asc">Date uploaded (earliest to latest)</a>
                        <a href="?sort=updated_desc">Date updated (latest to earliest)</a>
                        <a href="?sort=updated_asc">Date updated (earliest to latest)</a>
                    </div>
                </a>
            </div>
        </div>

        

        <!-- Table -->

        <style>
            .table thead th:first-child {
                border-top-left-radius: 14px;
                border-bottom-left-radius: 14px;
            }
        
            .table thead th:last-child {
                border-top-right-radius: 14px;
                border-bottom-right-radius: 14px;
            }

            .table-row td:first-child {
                border-top-left-radius: 14px;
                border-bottom-left-radius: 14px;
            }
        
            .table-row td:last-child {
                border-top-right-radius: 14px;
                border-bottom-right-radius: 14px;
            }

            .table {
                border-spacing: 0;
                border-collapse: separate;
            }

            .status-label {
                border-radius: 14px;
                font-weight: bold;
                padding: 3px 15px;
            }
            
            .status-in-progress {
                background-color: #FDDD1B;
                color: #000000;
            }

            .status-lodged {
                background-color: #FF8640;
                color: #ffffff;
            }

            .status-approved {
                background-color: #0BB351;
                color: #ffffff;
            }

            .status-rejected {
                background-color: #FF5252;
                color: #ffffff;
            }

            .nowrap {
                white-space: nowrap;
            }
        
            .status-label {
                border-radius: 14px;
                font-weight: bold;
                padding: 3px 15px;
                white-space: nowrap; 
            }
            
            td {
                padding: 8px;
            }

            .row-link {
                display: block;
                width: 100%;
                height: 100%;
                color: inherit; 
                text-decoration: none; 
                padding: 2px;
            }
        </style>

        <div style="margin-left: 30px; margin-right: 30px;">
            <table class="table table-hover mt-5 mb-5" style="font-size: 12px;">
                <thead style="border-radius: 14px;">
                    <th scope="col" style="background-color: #0BB351; color: #ffffff;"><input class="form-check-input" type="checkbox" id="selectAll"></th>
                    <th scope="col" style="background-color: #0BB351; color: #ffffff;"> App. ID </th>
                    <th scope="col" style="background-color: #0BB351; color: #ffffff;"> Employee </th>
                    <th scope="col" style="background-color: #0BB351; color: #ffffff;"> Nationality </th>
                    <th scope="col" style="background-color: #0BB351; color: #ffffff;"> Position </th>
                    <th scope="col" style="background-color: #0BB351; color: #ffffff;"> Company </th>
                    <th scope="col" style="background-color: #0BB351; color: #ffffff;"> Document Type </th>
                    <th scope="col" style="background-color: #0BB351; color: #ffffff;"> Status </th>
                    <th scope="col" style="background-color: #0BB351; color: #ffffff;"> Deadline </th>
                    <th scope="col" style="background-color: #0BB351; color: #ffffff;" id="binIconColumn">
                        <!-- Bin Icon wrapped in a button (hidden by default) -->
                        <button id="binButton" style="background: none; border: none; padding: 0; display: none;" data-bs-toggle="modal" data-bs-target="#deleteModal">
                            <img src="{% static 'bin.png' %}" width="16" height="16" alt="Bin Icon">
                        </button>
                    </th>
                </thead>
                <tbody>
                    {% for a in applications %}
                    <tr class="table-row">
                        <!-- Display employee details -->
                        <td><a href="{% url 'view_application' pk=a.pk %}" class="row-link"><input type="checkbox" class="row-checkbox form-check-input" value="{{ a.pk }}"></a></td>
                        <td><a href="{% url 'view_application' pk=a.pk %}" class="row-link"><span style="font-weight: bold;">{{ a.pk }}</span></a></td>
                        <td><a href="{% url 'view_application' pk=a.pk %}" class="row-link">{{ a.getFirstName }} {{ a.getLastName }}</a></td>
                        <td><a href="{% url 'view_application' pk=a.pk %}" class="row-link">{{ a.country_name }}</a></td>
                        <td><a href="{% url 'view_application' pk=a.pk %}" class="row-link"> {{ a.getCompanyPos }} </a></td>
                        <td><a href="{% url 'view_application' pk=a.pk %}" class="row-link"> {{ a.getBusinessUnit }} </a></td>
                        <td><a href="{% url 'view_application' pk=a.pk %}" class="row-link"><span style="border-radius: 14px; background: #FFFADC; font-weight: bold; padding-left: 15px; padding-right: 15px; padding-top: 3px; padding-bottom: 3px;">{{ a.getDocumentType }}</span></a></td>
                        <td> <a href="{% url 'view_application' pk=a.pk %}" class="row-link">
                            <span class="status-label
                                {% if a.getStatus == 'In Progress' %}status-in-progress
                                {% elif a.getStatus == 'Lodged' %}status-lodged
                                {% elif a.getStatus == 'Approved' %}status-approved
                                {% elif a.getStatus == 'Rejected' %}status-rejected
                                {% endif %}
                            ">
                                {{ a.getStatus }}
                            </span>
                        </td></a>
                        <td><a href="{% url 'view_application' pk=a.pk %}" class="row-link"> {{ a.getDeadline }} </a></td>
                        <td>  </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Navi -->
        <style>
            .page-item.active .page-link {
                background-color: #109E4C;
                border-color: #0BB351; 
                color: white;
            }

            .page-item .page-link {
                color: #0BB351;
            }
        </style>
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if applications.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ applications.previous_page_number }}">Previous</a></li>
                    {% endif %}
        
                    {% for num in applications.paginator.page_range %}
                        {% if applications.number == num %}
                            <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% elif num > applications.number|add:'-3' and num < applications.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}
        
                    {% if applications.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ applications.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ applications.paginator.num_pages }}">Last</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Application</h5>
            </div>
            <div class="modal-body" id="deleteModalBody">
                <!-- This text will be updated via JavaScript -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="confirmDelete" onclick="deleteSelected()">Confirm</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    function adjustCardHeight() {
        var card = document.getElementById('dynamicCard');
        var rect = card.getBoundingClientRect();
        var offsetTop = rect.top;
        var windowHeight = window.innerHeight;
        var newHeight = windowHeight - offsetTop - 20;
        card.style.minHeight = newHeight + 'px';
    }

    window.onload = adjustCardHeight;
    window.onresize = adjustCardHeight; 
    
    function updateBinIconVisibility() {
        var checkboxes = document.querySelectorAll('.row-checkbox');
        var binIcon = document.getElementById('binButton');
        // Check if any checkbox is checked
        var anyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
        // Show or hide the bin icon
        binIcon.style.display = anyChecked ? 'block' : 'none';
    }

    // Add change event listener to all checkboxes
    document.querySelectorAll('.row-checkbox').forEach(function(checkbox) {
        checkbox.addEventListener('change', updateBinIconVisibility);
    });

    // Add change event listener to 'Select All' checkbox as well
    document.getElementById('selectAll').addEventListener('change', function(event) {
        var checkboxes = document.querySelectorAll('.row-checkbox');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = event.target.checked;
        }
        updateBinIconVisibility(); // Update bin icon visibility when 'Select All' is used
    });

    function deleteSelected() {
        var selected = document.querySelectorAll('.row-checkbox:checked');
        var idsToDelete = Array.from(selected).map(function(checkbox) {
            return checkbox.value;
        });
        
        // Fetch CSRF token from the cookie
        var csrftoken = getCookie('csrftoken');

        fetch("{% url 'delete_selected' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken  // Include CSRF token in the header
            },
            body: JSON.stringify({ 'ids': idsToDelete })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok ' + response.statusText);
            }
            return response.json();
        })
        .then(data => {
            console.log('Success:', data);
            window.location.reload(); // Reload the page to update the table
        })
        .catch((error) => {
            console.error('Error:', error);
        });

        // Close the modal programmatically
        var deleteModal = bootstrap.Modal.getInstance(document.getElementById('deleteModal'));
        deleteModal.hide();
    }

    // Function to get CSRF token from cookie
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function updateModalMessage() {
        var selectedCheckboxes = document.querySelectorAll('.row-checkbox:checked');
        var totalCheckboxes = document.querySelectorAll('.row-checkbox').length;
        var modalBody = document.getElementById('deleteModalBody');
    
        if (selectedCheckboxes.length === 1) {
            modalBody.textContent = "Are you sure you want to delete the application? You cannot undo this action.";
        } else if (selectedCheckboxes.length > 1 && selectedCheckboxes.length < totalCheckboxes) {
            modalBody.textContent = "Are you sure you want to delete the selected applications? You cannot undo this action.";
        } else if (selectedCheckboxes.length === totalCheckboxes) {
            modalBody.textContent = "Are you sure you want to delete all applications? You cannot undo this action.";
        }
    }
    
    document.querySelectorAll('.row-checkbox').forEach(function(checkbox) {
        checkbox.addEventListener('change', updateModalMessage);
    });
    
    document.getElementById('selectAll').addEventListener('change', function(event) {
        var checkboxes = document.querySelectorAll('.row-checkbox');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = event.target.checked;
        }
        updateModalMessage(); // Update the modal message when 'Select All' is used
    });
</script>

<script>
    // Initialize Bootstrap Toasts
    document.addEventListener('DOMContentLoaded', function() {
        var toastElements = document.querySelectorAll('.toast');
        toastElements.forEach(function(toastEl) {
            var toast = new bootstrap.Toast(toastEl, { autohide: true, delay: 5000 }); // Adjust delay as needed
            toast.show();
        });
    });
</script>

<script>
    function toggleDropdown() {
        var dropdownContent = document.querySelector('.sort-dropdown-content');
        dropdownContent.style.display = dropdownContent.style.display === 'block' ? 'none' : 'block';
    }
    
    // Close the dropdown if clicked outside
    window.onclick = function(event) {
      if (!event.target.matches('.dropdown, .dropdown *')) {
        var dropdowns = document.getElementsByClassName("sort-dropdown-content");
        for (var i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.style.display === 'block') {
            openDropdown.style.display = 'none';
          }
        }
      }
    };

    document.querySelectorAll('.filter-btn').forEach(btn => {
        btn.addEventListener('click', function(event) {
            document.querySelectorAll('.filter-btn').forEach(b => b.classList.remove('selected'));
            this.classList.add('selected');
        });
    });

    document.querySelector('.search-btn').addEventListener('click', function() {
        var searchContainer = document.querySelector('.search-container');
        searchContainer.style.display = searchContainer.style.display === 'none' ? 'block' : 'none';
    });

    window.addEventListener('click', function(e) {
        var searchContainer = document.querySelector('.search-container');
        if (!searchContainer.contains(e.target) && !e.target.closest('.search-btn')) {
            searchContainer.style.display = 'none';
        }
    });
</script>



{% endblock %}