{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="shortcut icon" type="image/png" href="{% static 'idslogo.png' %}" >
<div style="padding-top: 20px; margin-left: 40px; margin-right: 40px;">
    <div class="card" style="border: none; border-radius: 30px;">
        <div class="card-body">
            <h2 class="card-title mt-3" style="margin-left: 30px; margin-right: 30px; color: #0BB351; font-weight: bold; border-bottom: 3px solid #0BB351;">Dashboard</h2>
        </div>
    </div>
    <div class="card mt-3" style="border: none; min-height: calc(100vh - 150px); background: #e8f4ec; border-radius: 30px;">
        {% comment %} Filter buttons {% endcomment %}
        <div class="row mt-4" style="margin-left: 20px; margin-right: 20px">
            <!-- Left buttons -->
            <div class="col-6 d-flex justify-content-start">
                <a class="btn d-flex align-items-center justify-content-center me-2" style="border-radius: 15px; background: #8D8AFF; color: #ffffff; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);">
                    <span style="margin-right: 5px;">All</span>
                    <p style="margin: 0; border-radius: 10px; background: #2D2A89; font-size: 12px; padding: 2px 5px;">0</p>
                </a>
                <a class="btn d-flex align-items-center justify-content-center me-2" style="min-width: 120px; border-radius: 15px; background: #ffffff; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20); padding: 5px 10px;">
                    <span style="margin-right: 5px; white-space: nowrap;">In Progress</span>
                    <p style="margin: 0; border-radius: 10px; background: #FDDD1B; color: #ffffff; font-size: 12px; padding: 2px 5px;">0</p>
                </a>
                <a class="btn d-flex align-items-center justify-content-center me-2" style="border-radius: 15px; background: #ffffff; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);">
                    <span style="margin-right: 5px;">Lodged</span>
                    <p style="margin: 0; border-radius: 10px; background: #FF8640; color: #ffffff; font-size: 12px; padding: 2px 5px;">0</p>
                </a>
                <a class="btn d-flex align-items-center justify-content-center me-2" style="border-radius: 15px; background: #ffffff; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);">
                    <span style="margin-right: 5px;">Approved</span>
                    <p style="margin: 0; border-radius: 10px; background: #0BB351; color: #ffffff; font-size: 12px; padding: 2px 5px;">0</p>
                </a>
                <a class="btn d-flex align-items-center justify-content-center me-2" style="border-radius: 15px; background: #ffffff; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);">
                    <span style="margin-right: 5px;">Rejected</span>
                    <p style="margin: 0; border-radius: 10px; background: #FF5252; color: #ffffff; font-size: 12px; padding: 2px 5px;">0</p>
                </a>
            </div>
            <!-- Right buttons -->
            <div class="col-6 d-flex justify-content-end">
                <a class="btn d-flex align-items-center justify-content-center me-2" style="border-radius: 15px; background: #ffffff; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);">
                    <img src="{% static 'search.png' %}" width="20" height="20" alt="IDS Logo">
                </a>
                <a class="btn d-flex align-items-center justify-content-center me-2" style="border-radius: 15px; background: #ffffff; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);">
                    <img src="{% static 'sort.png' %}" width="20" height="20" alt="IDS Logo">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}