{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .flex-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin-left: 40px;
        padding-top: 20px;
    }

    .flex-grow {
        flex-grow: 1;
        border: none;
        border-top-left-radius: 30px;
    }

    #emailButton {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
    }

    #passwordButton {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
    }

    #emailButton img {
        transition: all 0.3s ease;
    }

    #emailButton:hover img,
    #emailButton:focus img {
        content: url('{% static "edit_selected.png" %}');
    }

    #passwordButton img {
        transition: all 0.3s ease;
    }

    #passwordButton:hover img,
    #passwordButton:focus img {
        content: url('{% static "edit_selected.png" %}');
    }

</style>

<!-- Apply the flex-container class here -->
<div class="flex-container">
    <div class="card" style="border: none; border-bottom-left-radius: 30px; border-top-left-radius: 30px;">
        <div class="card-body">
            <h2 class="card-title mt-3" style="margin-left: 30px; margin-right: 30px; color: #0BB351; font-weight: bold; border-bottom: 3px solid #0BB351;">User Profile</h2>
        </div>
    </div>
    <!-- This is your dynamic card that should stretch to the bottom -->
    <div id="dynamicCard" class="card mt-4 flex-grow">
        <div class="container-fluid">
            <div style="margin-left: 30px; margin-right: 30px;">

                <!--Email Address Section -->
                <div class="row align-items-center">
                    <div class="col-auto">
                        <h5 class="mt-4 email-text" style="font-weight: bold;">Email Address</h5>
                    </div>
                    <div class="col-auto" style="padding-top: 10px">
                        <button id="emailButton">
                            <img src="{% static 'edit.png' %}" width="20" height="20" alt="Edit">
                        </button>
                    </div>
                </div>

                <div id="emailDisplayRow" class="row">
                    <p class="mt-4">Your email address is placeholder@outlook.com</p>
                </div>
    
                <!-- Email Input -->
                <div id="emailInputRow" class="row" style="display: none;">
                    <input type="email" class="form-control mt-4" id="emailInput" placeholder="Enter new email address" style="margin-left: 12px; margin-bottom: 30px; width: 400px">
                </div>

                <hr>

                <!--Password Section -->
                <div class="row align-items-center" id="passwordRow" style="margin-bottom: 30px;">
                    <div class="col-auto">
                        <h5 class="mt-3" style="font-weight: bold;">Change Password</h5>
                    </div>
                    <div class="col-auto" style="padding-top: 5px">
                        <button id="passwordButton">
                            <img src="{% static 'edit.png' %}" width="20" height="20" alt="Edit">
                        </button>
                    </div>
                </div>
                <div id="passwordInputRow" class="row" style="display: none;">
                    <div class="col-auto">
                        <input type="password" class="form-control mt-4" id="currentPasswordInput" placeholder="Current Password" style="margin-bottom: 30px; width: 300px">
                    </div>
                    <div class="col-auto">
                        <input type="password" class="form-control mt-4" id="newPasswordInput" placeholder="New Password" style="margin-bottom: 30px; width: 300px">
                    </div>
                    <div class="col-auto">
                        <input type="password" class="form-control mt-4" id="confirmPasswordInput" placeholder="Confirm New Password" style="margin-bottom: 30px; width: 300px">
                    </div>
                </div>

                <hr>

                <!-- Delete Account Section -->
                <div class="row align-items-center">
                    <h5 class="mt-3" style="font-weight: bold;">Delete Account</h5>
                </div>
                <div>
                    <p class="mt-4">Deletion is <span style="color: #FF5252; text-decoration: underline #FF5252;">permanent and irreversible</span>. This removes all access to all connected services and deletes all spaces and user data. You cannot undo this action.</p>
                    <button class="btn mt-3" style="display: inline-flex; padding: 7px 39px; align-items: flex-start; gap: 10px; border-radius: 15px; background: #FF5252; color: #FFF;"> Delete account </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var emailButton = document.getElementById('emailButton');
        var emailDisplayRow = document.getElementById('emailDisplayRow');
        var emailInputRow = document.getElementById('emailInputRow');
    
        emailButton.addEventListener('click', function() {
            if (emailDisplayRow.style.display != 'none' && emailInputRow.style.display === 'none') {
                emailDisplayRow.style.display = 'none';
                emailInputRow.style.display = 'flex';
            } else {
                emailDisplayRow.style.display = 'flex';
                emailInputRow.style.display = 'none';
            }
        });
        
        var passwordRow = document.getElementById('passwordRow');
        var passwordButton = document.getElementById('passwordButton');
        var passwordInputRow = document.getElementById('passwordInputRow');
    
        passwordButton.addEventListener('click', function() {
            
            if (passwordInputRow.style.display === 'none' && passwordRow.style.marginBottom === '30px') {
                passwordRow.style.marginBottom = '0px';
                passwordInputRow.style.display = 'flex'; // Use 'flex' to maintain the row structure
            } else {
                passwordRow.style.marginBottom = '30px';
                passwordInputRow.style.display = 'none';
            }
        });
    });
    </script>
{% endblock %}