{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .flex-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin-left: 40px;
        padding-top: 20px;
    }

    .flex-grow {
        flex-grow: 1;
        border: none;
        border-top-left-radius: 30px;
    }

    #emailButton {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
    }

    #passwordButton {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
    }

    #emailButton img {
        transition: all 0.3s ease;
    }

    #emailButton:hover img,
    #emailButton:focus img {
        content: url('{% static "edit_selected.png" %}');
    }

    #passwordButton img {
        transition: all 0.3s ease;
    }

    #passwordButton:hover img,
    #passwordButton:focus img {
        content: url('{% static "edit_selected.png" %}');
    }

    @keyframes fadeInUp {
        from {
            transform: translate(-50%, 0%);
            opacity: 0;
        }
        to {
            transform: translate(-50%, -50%);
            opacity: 1;
        }
    }

    @keyframes fadeOutDown {
        from {
            transform: translate(-50%, -50%);
            opacity: 1;
        }
        to {
            transform: translate(-50%, 0%);
            opacity: 0;
        }
    }

    #unsavedChangesAlert {
        background: #0BB351;
        border: none;
        border-radius: 15px;
        display: none;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, 50%);
        z-index: 1000;
        width: 100%;
        max-width: 600px;
        visibility: hidden;
        opacity: 0;
        animation-fill-mode: forwards;
    }

    .show-alert {
        visibility: visible !important; 
        animation: fadeInUp 0.5s ease forwards;
    }

    .hide-alert {
        animation: fadeOutDown 0.5s ease forwards;
    }

    #resetChanges {
        text-decoration: none;
    }

    #resetChanges:hover {
        text-decoration: underline;
    }

    #logout {
        text-decoration: none;
    }

    #logout:hover {
        text-decoration: underline;
    }

    .overflow-hidden {
        overflow: hidden;
    }

    #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0);
        z-index: 2;
        cursor: pointer;
    }

    #confirmbox {
        width: 474px;
        height: 284px;
        flex-shrink: 0;
        border-radius: 15px;
        background: #FFF;
        box-shadow: -3px 10px 23.2px 6px rgba(0, 0, 0, 0.25);
    }

    #message-circle {
        width: 46px;
        height: 46px;
        flex-shrink: 0;
    }

    #message-check {
        width: 22px;
        height: 22px;
        flex-shrink: 0;
        background: url('{% static "check.png" %}') lightgray 50% / cover no-repeat;
    }

    #confirmboxheader {
        width: 290px;
        height: 21px;
        flex-shrink: 0;
        color: #242343;
        font-family: "Nunito Sans";
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    #confirmboxtext {
        width: 323px;
        height: 22px;
        flex-shrink: 0;
        color: #242343;
        font-family: "Nunito Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #confirmpasslabel {
        color: #242343;
        font-family: "Nunito Sans";
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    #confirmpassinput {
        display: inline-flex;
        height: 41px;
        padding: 14px 199.261px 15.261px 14px;
        align-items: center;
        flex-shrink: 0;
        border-radius: 12px;
        border: 1px solid rgba(102, 102, 102, 0.35);
    }

    #confirmboxconfirm {
        width: 106px;
        height: 34px;
        flex-shrink: 0;
    }

    #confirmboxcancel {
        width: 106px;
        height: 34px;
        flex-shrink: 0;
    }
</style>

<div class="flex-container">
    <div class="card" style="border: none; border-bottom-left-radius: 30px; border-top-left-radius: 30px;">
        <div class="card-body">
            <h2 class="card-title mt-3" style="margin-left: 30px; margin-right: 30px; color: #0BB351; font-weight: bold; border-bottom: 3px solid #0BB351;">User Profile</h2>
        </div>
    </div>
    <div id="dynamicCard" class="card mt-4 flex-grow">
        <form method="post" action="{% url 'edit_account'%}">
            {% csrf_token %}
            <div class="container-fluid">
                <div style="margin-left: 30px; margin-right: 30px;">

                    <!--Email Address Section -->
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <h5 class="mt-4" id="emailText" style="font-weight: bold;">Email Address</h5>
                        </div>
                        <div class="col-auto" style="padding-top: 10px">
                            <button id="emailButton" class="edit-button" data-open="false">
                                <img src="{% static 'edit.png' %}" width="20" height="20" alt="Edit">
                            </button>
                        </div>
                    </div>

                    <div id="emailDisplayRow" class="row">
                        <p class="mt-4">Your email address is <span style="color: #0BB351; text-decoration: underline #0BB351;">{{ user_email }}</span></p>
                    </div>
        
                    <!-- Email Input -->
                    <div id="emailInputRow" class="row" style="display: none;">
                        <input type="email" class="form-control mt-4" id="email" name="newEmail" placeholder="Enter new email address" style="margin-left: 12px; margin-bottom: 30px; width: 400px">
                    </div>

                    <hr>

                    <!--Password Section -->
                    <div class="row align-items-center" id="passwordRow" style="margin-bottom: 30px;">
                        <div class="col-auto">
                            <h5 class="mt-3" id="passwordText" style="font-weight: bold;">Change Password</h5>
                        </div>
                        <div class="col-auto" style="padding-top: 5px">
                            <button id="passwordButton" class="edit-button" data-open="false">
                                <img src="{% static 'edit.png' %}" width="20" height="20" alt="Edit">
                            </button>
                        </div>
                    </div>
                    <div id="passwordInputRow" class="row" style="display: none;">
                        <div class="col-auto">
                            <input type="password" class="form-control mt-4" id="currentPasswordInput" name="currentPassword" placeholder="Current Password" style="margin-bottom: 30px; width: 300px">
                        </div>
                        <div class="col-auto">
                            <input type="password" class="form-control mt-4" id="newPasswordInput" name="newPassword" placeholder="New Password" style="margin-bottom: 30px; width: 300px">
                        </div>
                        <div class="col-auto">
                            <input type="password" class="form-control mt-4" id="confirmPasswordInput" name="confirmPassword" placeholder="Confirm New Password" style="margin-bottom: 30px; width: 300px">
                        </div>
                    </div>

                    <hr>

                    <!-- Delete Account Section -->
                    <div class="row align-items-center">
                        <h5 class="mt-3" style="font-weight: bold;">Delete Account</h5>
                    </div>
                    <div>
                        <p class="mt-4">Deletion is <span style="color: #FF5252; text-decoration: underline #FF5252;">permanent and irreversible</span>. This removes all access to all connected services and deletes all spaces and user data. You cannot undo this action.</p>
                        <button type="button" class="btn mt-3" style="display: inline-flex; padding: 7px 39px; align-items: flex-start; gap: 10px; border-radius: 15px; background: #FF5252; color: #FFF;" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">Delete account</button>
                        <a href="{% url 'logout' %}" class="btn btn-sm" style="color: #FF5252; background-color: transparent; border: none; margin-left: 30px; margin-top: 15px">
                            Logout
                        </a>
                    </div>
                    <div class="row mt-3" style="margin-left: 10px;">
                        {% for message in messages %}
                            <span style="color: #FF5252;">{% if message.tags == 'info' %}{{ message }}{% endif %}</span>
                        {% endfor %}
                    </div>

                </div>
            </div>
            <!-- Unsaved Changes Alert -->
            <div id="unsavedChangesAlert" class="alert alert-warning">
                <div class="row w-100 no-gutters align-items-center">
                    <div class="col" style="margin-left: 20px; color:#FFF">
                        You have unsaved changes.
                    </div>
                    <div class="col-auto ml-auto text-right">
                        <button id="resetChanges" class="btn btn-sm p-0" style="color: #FFF; background-color: transparent; border: none; margin-right: 10px;">Reset</button>
                        <button type="submit" id="saveChanges" class="btn btn-sm" style="background: #08873d; color: #fff; border-radius: 10px">Save Changes</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- Modal -->
        <div class="modal fade" id="deleteAccountModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="deleteAccountModalLabel">Delete Account</h5>
                </div>
                <div class="modal-body">
                <p>Are you sure you want to delete this account? You cannot undo this action.</p>
                <form action="{% url 'delete_account'%}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                    <label for="passIn" class="col-form-label">Confirm Password:</label>
                    <input type="password" class="form-control" id="passIn" name="passIn">
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger">Confirm</button>
                </form>
                </div>
            </div>
            </div>
        </div>

    </div>
    
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var unsavedChangesAlert = document.getElementById('unsavedChangesAlert');
        var emailButton = document.getElementById('emailButton');
        var passwordButton = document.getElementById('passwordButton');
        var resetChangesButton = document.getElementById('resetChanges');
    
        var emailSectionOpen = false;
        var passwordSectionOpen = false;

        resetChangesButton.addEventListener('click', function() {
            window.location.reload();
        });
    
        // Function to check if both sections are closed
        function areBothSectionsClosed() {
            return !emailSectionOpen && !passwordSectionOpen;
        }
    
        // Function to toggle the alert
        function toggleAlert() {
            if (areBothSectionsClosed()) {
                unsavedChangesAlert.classList.add('hide-alert');
                setTimeout(function() {
                    unsavedChangesAlert.classList.remove('show-alert', 'hide-alert');
                    unsavedChangesAlert.style.display = 'none';
                }, 500);
            } else {
                unsavedChangesAlert.classList.add('show-alert');
                unsavedChangesAlert.classList.remove('hide-alert');
                unsavedChangesAlert.style.display = 'block';
            }
        }
    
        // Event listener for the email edit button
        emailButton.addEventListener('click', function(event) {
            event.stopPropagation();
            emailSectionOpen = !emailSectionOpen;
            toggleAlert();
        });
    
        // Event listener for the password edit button
        passwordButton.addEventListener('click', function(event) {
            event.stopPropagation();
            passwordSectionOpen = !passwordSectionOpen;
            toggleAlert();
        });
    
        var form = document.querySelector('form');
        form.addEventListener('click', function(event) {
            event.stopPropagation();
        });
    
        document.addEventListener('click', function() {
        }, true);
    });
    document.addEventListener('DOMContentLoaded', function() {
    //buttons
        var emailButton = document.getElementById('emailButton');
        var emailButtonImage = emailButton.querySelector('img');
        var emailDisplayRow = document.getElementById('emailDisplayRow');
        var emailInputRow = document.getElementById('emailInputRow');
        var emailText = document.getElementById('emailText');

        var originalImageUrl = '{% static "edit.png" %}';
        var selectedImageUrl = '{% static "edit_selected.png" %}';
    
        emailButton.addEventListener('click', function() {
            if (emailDisplayRow.style.display != 'none' && emailInputRow.style.display === 'none') {
                emailDisplayRow.style.display = 'none';
                emailInputRow.style.display = 'flex';
                emailText.style.color = '#0BB351';
                emailButtonImage.src = selectedImageUrl;
            } else {
                emailDisplayRow.style.display = 'flex';
                emailInputRow.style.display = 'none';
                emailText.style.color = 'black'
                emailButtonImage.src = originalImageUrl;
            }
        });
        
        var passwordRow = document.getElementById('passwordRow');
        var passwordButton = document.getElementById('passwordButton');
        var passwordButtonImage = passwordButton.querySelector('img');
        var passwordInputRow = document.getElementById('passwordInputRow');
        var passwordText = document.getElementById('passwordText');
    
        passwordButton.addEventListener('click', function() {
            if (passwordInputRow.style.display === 'none' && passwordRow.style.marginBottom === '30px') {
                passwordRow.style.marginBottom = '0px';
                passwordInputRow.style.display = 'flex';
                passwordText.style.color = '#0BB351';
                passwordButtonImage.src = selectedImageUrl;
            } else {
                passwordRow.style.marginBottom = '30px';
                passwordInputRow.style.display = 'none';
                passwordText.style.color = 'black';
                passwordButtonImage.src = originalImageUrl;
            }
        });

        let input = document.getElementById("passIn");
        let button = document.getElementById("confirmbutton");
        button.disabled = true;
        input.addEventListener("change", stateHandle);
    
        function stateHandle() {
            if(input.value === "") {
                button.disabled = true;
            } else {
                button.disabled = false;
            };
        };

        function on() {
            document.getElementById("overlay").style.display = "block";
        };

        function off() {
            document.getElementById("overlay").style.display = "none";
        };
    
    });
    </script>
{% endblock %}