{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="padding-top: 20px; margin-left: 40px;">
    <div class="card" style="border: none; border-bottom-left-radius: 30px; border-top-left-radius: 30px;">
        <div class="card-body">
            <h2 class="card-title mt-3" style="margin-left: 30px; margin-right: 30px; color: #0BB351; font-weight: bold; border-bottom: 3px solid #0BB351;">View Application</h2>
            <a href="{% url 'view_dashboard' %}" class="close-icon">&times;</a>
        </div>
    </div>
</div>

<style>
    .close-icon {
        position: absolute;
        top: 15px;
        right: 30px;
        font-size: 40px;
        text-decoration: none;
        color: #0e9e4c; /* Change as needed */
    }
        
    .close-icon:hover {
        color: #555; 
    }

    .personal-information {
        flex-direction: column; /* Stack children vertically */
        justify-content: center; /* Center children vertically (if needed) */
        margin: 0; /* Auto margins on the sides to center the div on the page */
        
    } 

        
    .personal-information h3 {
        font-size: 24px;
        color: #333;
        margin-bottom: 0px;
        text-align: center; /* Center the text inside the h3 element */
        justify-content: center; 
    }
        
    .status-condition{
        color: Black;
        font-size: 14px;
        text-align: center;
        display: inline-block;
        position: relative; 
        padding-left: 20px;
    }

    .status-condition::before {
        content: ''; /* Required for pseudo-elements */
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 12px; /* Circle size */
        height: 12px; /* Circle size */
        background-color: #0ab351; /* Circle color */
        border-radius: 50%; /* Make it round */
    }

    .status-row, .info-row {
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .status-indicator {
        color: Black;
        padding: 4px 12px;
        border-radius: 20px;
        font-size: 14px;
        margin-bottom: 25px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        display: inline-block;
        position: relative; 
        padding-left: 25px;
    }

    .status-in-progress {
        background-color: #ff8640; 
    }
    
    .status-lodged {
        background-color:#fddd19; 
    }
    
    .status-approved {
        background-color:#0ab351; 
    }
    
    .status-rejected {
        background-color:#ff5252;
    }

    .status-expired{
        background-color:#6c6868;
    }

    .docu-type{
        background-color: #fffadc; 
        color: black;
        padding: 4px 12px;
        border-radius: 20px;
        font-size: 14px;
        margin-bottom: 25px;
        margin-right: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    
    .info-block {
        background-color: #f5f5f5; /* Card background color */
        padding: 20px; /* Space inside the card */
        margin-bottom: 20px; /* Space outside the card */
        border-radius: 16px; /* Adjust as needed for rounded corners */
        box-shadow: 0 6px 12px rgba(0,0,0,0.1); /* Card shadow for 3D effect */
        justify-content: center;
        text-align: center; /* Center the text inside the h3 element */
        margin: 20px 0; 
    }

    .info-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    
    .info-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        margin-right: 15px;
        margin-left: 10px;
        align-items: center;
        background: white;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .info-row label {
        font-weight: bold;
        color: black;
    }
    
    .info-row span {
        color: #333;
        text-align: right;
    }
    
    .form-section {
        background-color: #e2f4e9;
        padding: 15px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        margin-top: 20px;
    }
    
    .form-section h3 {
        margin-top: 0;
    }
    
    .form-section textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        height: 100px; /* You can adjust the height as needed */
        border-radius: 10px;
    }
    .form-section .button-container {
        display: flex;
        justify-content: flex-end; /* Aligns the button to the right */
    }
    
    .form-section button {
        padding: 10px 20px;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        justify-content: right;
    }
    
    .tabs {
        display: flex;
        justify-content: space-evenly; /* This will space your tabs evenly */
        margin-bottom: 20px; /* Adds space below the tabs */
    }
    
    .tab {
        display: block;
        padding: 10px 20px;
        color: black; /* Tab text color */
        text-decoration: none; /* Removes underline from links */
        border-bottom: 3px solid transparent; /* Transparent border for unselected tabs */
        font-size: 18px;
    }
    
    .tab.active {
        border-bottom: 3px solid #0BB351; /* Green border for the active tab */
        font-weight: bold;
        font-size: 17px;
        color: #0BB351; 
    }

  </style>

<div class="container">
    <div class="content">
      <div class="main" style="display: flex;">
        <div class="info-block" style="flex: 1; padding-right: 10px;">
            <h3 class='personal-information'>Personal Information</h3>
            
            <div class="status-row">
                <span class='status-condition'>{{a.getCondition}}</span>
            </div>
            <div class="status-row">
                <span class="docu-type">  {{a.getDocumentType}}</span>
                <select name="status" class="status-indicator
                    {% if a.status == 'In Progress' %}status-in-progress
                    {% elif a.status == 'Lodged' %}status-lodged
                    {% elif a.status == 'Approved' %}status-approved
                    {% elif a.status == 'Rejected' %}status-rejected
                    {% endif %}">
                    {{a.getStatus}}
                    {% for status, status_display in a.statuses %}
                        <option value="{{ status }}" {% if a.getStatus == status %}selected{% endif %}>
                            {{ status_display }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="info-row">
                <label>Name</label>
                <span>{{a.getFirstName}}</span> <!--{{getFirstName}}-->
            </div>

            <div class="info-row">
                <label>Application ID</label>
                <span>{{a.pk}}</span>
            </div>

            <div class="info-row">
                <label>Passport No.</label>
                <span>{{a.getPassportNo}}</span>
            </div>

            <div class="info-row">
                <label>Nationality</label>
                <span>{{a.getNationality}}</span>
            </div>

            <div class="info-row">
                <label>Business Unit</label>
                <span>{{a.getBusinessUnit}}</span>
            </div>

            <div class="info-row">
                <label>Position</label>
                <span>{{a.companyPos}}</span>
            </div>

            <div class="info-row">
                <label>Expiration Date</label>
                <span>{{a.getExpirationDate}}</span>
            </div>

            <div class="info-row">
                <label>Deadline</label>
                <span>{{a.getDeadline}}</span>
            </div>
            
        </div>


        <div class="form-section" style="flex: 1; padding-left: 10px;">
            <div class='tabs'>
                <a href="#" class="tab active">Additional Details</a>
                <a href="#" class="tab">History</a>
                <a href="#" class="tab">Checklist</a>
            </div>
          <textarea placeholder="Add details"></textarea>
          <div class="button-container">
            <button>Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

<!--TO DO
- make it change color depending on the status

-->